@use 'variables';

nav {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;

  padding: 0px 10px;

  background-color: variables.$background-dark;
  color: variables.$text-light;

  h1,
  h2,
  h3,
  h4,
  h5 {
    margin: 0px;
    padding: 10px;
  }
}
