@import url('https://fonts.googleapis.com/css2?family=Quicksand&display=swap');
@import url('https://fonts.googleapis.com/icon?family=Material+Icons');

$font-stack: 'Quicksand', sans-serif;
$text-light: antiquewhite;
$text-dark: black;

$background: rgb(84, 85, 88);
$background-light: rgb(204, 211, 230);
$background-dark: rgb(37, 37, 39);

$attn-primary: rgb(97, 184, 255);
$attn-neutral: rgb(143, 149, 151);
$attn-danger: rgb(175, 57, 57);

$small-width: 600px;
$med-width: 992px;
$large-width: 1200px;
