@use 'normalize';
@use 'button';
@use 'card';
@use 'form';
@use 'layout';
@use 'nav';
@use 'variables';

html {
  font-family: variables.$font-stack;
}

body {
  background-color: variables.$background;
  margin: 0px;
}
